<!DOCTYPE html>

{% block html_tag %}<html>{% endblock html_tag %}

    <head>
        <title>SGPA - {% block page_title %}{% endblock page_title %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

        {% block head_libraries %}{% endblock head_libraries %}

        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/compiled/layout.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/elements.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/icons.css">

        {% block head_styles %}{% endblock head_styles %}

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        {% block content %}{% endblock content %}

        {% block footer_css %}{% endblock footer_css %}

        <!-- scripts -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% block footer_scripts %}{% endblock footer_scripts %}
    </body>    
</html>
