{% extends "base.html" %}

{% block html_tag %}<html class="login-bg">{% endblock html_tag %}

{% block page_title %}Login{% endblock page_title %}

{% block head_libraries %}
<!-- libraries -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lib/font-awesome.css">
{% endblock head_libraries %}

{% block head_styles %}
<!-- this page specific styles -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/compiled/signin.css" type="text/css" media="screen" />

<!-- open sans font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
{% endblock head_styles %}

{% block content %}
    <!-- background switcher -->
    <div class="bg-switch visible-desktop">
        <div class="bgs">
            <a href="#" data-img="landscape.jpg" class="bg active">
                <img src="{{ STATIC_URL }}img/bgs/landscape.jpg" />
            </a>
            <a href="#" data-img="blueish.jpg" class="bg">
                <img src="{{ STATIC_URL }}img/bgs/blueish.jpg" />
            </a>            
            <a href="#" data-img="7.jpg" class="bg">
                <img src="{{ STATIC_URL }}img/bgs/7.jpg" />
            </a>
            <a href="#" data-img="8.jpg" class="bg">
                <img src="{{ STATIC_URL }}img/bgs/8.jpg" />
            </a>
            <a href="#" data-img="9.jpg" class="bg">
                <img src="{{ STATIC_URL }}img/bgs/9.jpg" />
            </a>
            <a href="#" data-img="10.jpg" class="bg">
                <img src="{{ STATIC_URL }}img/bgs/10.jpg" />
            </a>
            <a href="#" data-img="11.jpg" class="bg">
                <img src="{{ STATIC_URL }}img/bgs/11.jpg" />
            </a>
        </div>
    </div>


    <div class="row-fluid login-wrapper">
        <img class="logo" src="{{ STATIC_URL }}img/logo-white.png">

        <div class="span4 box">
            <div class="content-wrap">
                <h6>Log in</h6>
                <input class="span12" type="text" placeholder="Endereço de E-mail">
                <input class="span12" type="password" placeholder="Sua senha">
                <a href="#" class="forgot">Esqueceu a senha ?</a>
                <div class="remember">
                    <input id="remember-me" type="checkbox">
                    <label for="remember-me">Gravar dados</label>
                </div>
                <a class="btn-glow primary login" href="index.html">Efetuar Login</a>
            </div>
        </div>

        <div class="span4 no-account">
            <p>Não tem uma conta ?</p>
            <a href="signup.html">Registre-se</a>
        </div>
    </div>
{% endblock content %}

{% block footer_scripts %}
	<!-- scripts -->
    <script src="js/theme.js"></script>

    <!-- pre load bg imgs -->
    <script type="text/javascript">
        $(function () {
            // bg switcher
            var $btns = $(".bg-switch .bg");
            $btns.click(function (e) {
                e.preventDefault();
                $btns.removeClass("active");
                $(this).addClass("active");
                var bg = $(this).data("img");

                $("html").css("background-image", "url('{{ STATIC_URL }}img/bgs/" + bg + "')");
            });

        });
    </script>
{% endblock footer_scripts %}